<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>

</head>
<body>
  <div #map style=”width:100%;height:800px;position:inherit!important;”></div>
  <br />
  <hr />
  <button (click)="openModal('custom-modal-1')">View Notes</button>

  <jw-modal id="custom-modal-1">
    <h1>Notes</h1>

    <table class='table' *ngIf="noteList">
      <tbody>
        <!--<tr *ngFor="let notes of noteList">
          <td>{{ notes.note }}</td>
          <td>{{ notes.createdby }}</td>
          <td>{{ notes.createddate }}</td>
        </tr>-->
      </tbody>
    </table>

    <form [formGroup]="locationNoteForm" (ngSubmit)="saveNote()" #formDir="ngForm" novalidate>
      <p>Add Notes: <input class="form-control" type="text" formControlName="note"><button type="submit" class="btn btn-default">Save</button>  </p>
    </form>

    <button (click)="closeModal('custom-modal-1');">Close</button>
  </jw-modal>

</body>
</html>
