/* You can add global styles to this file, and also import other style files */
$background_color_1: #000;

jw-modal {
  display: none;

  .jw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    .jw-modal-body {
      padding: 20px;
      background: #fff;
      margin: 40px;
    }
  }

  .jw-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $background_color_1;
    opacity: 0.75;
    z-index: 900;
  }
}

body.jw-modal-open {
  overflow: hidden;
}

$font_family_1: Arial, Helvetica, sans-serif;

input[type="text"] {
  display: block;
  width: 100%;
  font-family: $font_family_1;
}

.credits {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  text-align: center;
}
